body{
color:rgb(156, 14, 76);
background:rgb(189, 127, 149);
margin: 0px;
font-family: "Pacifico", cursive;
margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(206, 159, 196);
    padding: 20px;
    font-size: 32px;
    color: rgb(196, 3, 86);
}

.chamada {
background:rgb(233, 200, 229);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

.categoria-videos{ 
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left:20px;
  padding-right:20px;
  margin-top: 50px
}
.categoria1 {
  padding-left:20px;
  padding-right:20px;
  margin-top: 50px
}

.categoria2 {
  padding-left:20px;
  padding-right:20px;
  margin-top: 50px
}

.categoria3 {
  padding-left:20px;
  padding-right:20px;
  margin-top: 50px
}

.categoria-videos img {
    opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover{
  opacity: 1.0;
  border:1px solid green;
}

h1 {
  color:rgb(196, 3, 86);
}

h2 {
  color:rgb(196, 3, 86);
}