body{
color:rgb(156, 14, 76);
background:rgb(189, 127, 149);
margin: 0px;
font-family: "Pacifico", cursive;
}

header {
    border-bottom: solid 2px rgb(206, 159, 196);
    padding: 20px;
    font-size: 32px;
    color: rgb(229, 85, 147);
}

.chamada {
background:rgb(233, 200, 229);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img {
  height: 200px;

}

.categoria-videos{ 
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left:20px;
  padding-right:20px;
}