body{
color:rgb(232, 41, 228);
background:rgb(235, 40, 112);
margin: 0px;
}

header {
    border-bottom: solid 2px rgb(158, 0, 163);
    padding: 20px;
    font-size: 32px;
    color: rgb(246, 10, 112);
}

.chamada {
background:rgb(233, 200, 229);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img {
  height: 200px;

}

.categoria-videos{ 
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left:20px;
  padding-right:20px;
}